*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    background-image: url(speech.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.container{
    height: 400px;
    width: 400px;
    /* border: 2px solid black; */
    margin: 20vh auto;
    border-radius: 30px;
    background-color: whitesmoke;
    opacity: .8;
}
.container h1{
    text-align: center;
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border-radius: 30px;
}

#mic{
    height: 80px;
    width: 80px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
    background-color: crimson;
}
#mic:hover{
    box-shadow: 5px 5px 5px grey , -5px -5px 5px grey;
}
#mic i{
    margin: 19px;
    cursor: pointer;
}

.say{
    height: 80px;
    width: 90%;
    border: 2px solid black;
    margin: 10px auto;
    border-radius: 20px;
}
.say h3{
    text-align: center;
    line-height: 80px;
    font-size: 25px;
}

.recieve{
    height: 80px;
    width: 90%;
    border: 2px solid black;
    margin: 10px auto;
    border-radius: 20px;
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    color: black;
}
.recieve h3{
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    color: grey;
}
